/* Post Sticky */
.post.sticky { background: #f9f9f9; padding: 25px; border-left: 3px solid #db2d2e; margin-bottom: 60px; }
.post.sticky .blog-entry hr { display: none; }

/* Entry Video */
.audio-video,
.blog-entry-vimeo,
.blog-entry-you-tube {margin-bottom: 20px;}

.blog-entry-you-tube .js-video,
.blog-entry-vimeo .js-video{height: 0; padding-top: 25px; padding-bottom: 53.5%; margin-bottom: 10px; position: relative;
    overflow: hidden;}

.blog-entry-you-tube .js-video iframe,
.blog-entry-vimeo .js-video iframe {position:absolute; top:0; left:0; width:100%; height:100%;}

/* Entry image */
.blog-entry-image {margin-bottom: 20px;}
.masonry-main .masonry-item .blog-entry-slider{margin-bottom: 20px;}
.masonry-main .masonry-item .blog-entry-slider .item img{max-width: 100%;}

.format-gallery .blog-entry-slider{margin-bottom: 20px;}

/* Entry title */
.blog-entry .entry-title { margin-bottom: 5px; }
.entry-title i { display: table-cell; width: 30px; font-size: 20px; color: #db2d2e; }
.entry-title .entry-title { display: table-cell;}

.entry-title a {
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    color: #363636;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
    font-weight: 700;
}
.entry-title a:hover { color: #db2d2e; }
.blog-entry .entry-share .button { margin-bottom: 0;}

/* Blog Read Morw button */
.blog .blog-2 .blog-description .read-more {
    font-size: 14px;
    text-align: center;
    color: #db2d2e;
    text-transform: capitalize;
    vertical-align: middle;
    padding: 8px 20px;
}

/* Entry meta */
.entry-meta { margin-bottom: 15px; }
.entry-meta ul { padding-left: 0px; }
.entry-meta ul li,
.entry-meta a { display: inline-block; padding-right: 10px; }
.entry-meta ul li { padding-right: 0; }
.entry-meta ul li > span{ padding-right: 10px;}
.entry-meta ul li a,
.entry-meta a { color: #626262; padding-right: 0;}
.entry-meta ul li > a{ padding-right: 10px; margin-bottom: 5px;}
.entry-meta ul li i,
.entry-meta i { color: #db2d2e; padding-right: 3px; }
.entry-meta ul li a:hover,
.entry-meta a:hover { color: #db2d2e; }
.blog-entry .entry-meta li { display: inline; }
.blog-entry .entry-meta li > span { margin: 5px 0; display: inline-block;}

.search-results .entry-meta a{margin-right: 10px;}

/* Entry content */
.blog .entry-content p { margin-bottom: 10px; }
.post .entry-content + .entry-share { margin-top: 15px;}

/* Blog section border */
hr { margin: 60px 0; }
.post:last-child hr { display: none; }

/* Pagination */
.pagination { margin: 0px; padding: 0; list-style: none; }
.pagination li { display: inline-block; }
.pagination li a { font-size: 15px; font-weight: 500; margin: 3px; color: #626262; border-radius: 0px; display: inline-block; }
.pagination > li > a,
.pagination > li > span { padding: 8px 16px; border: 1px solid #e3e3e3; border-radius: 0px; }
.pagination > li > span { padding: 10px 16px; }
.pagination > li.active > span { margin: 0 3px;}

.pagination>li:last-child>a,
.pagination>li:last-child>span,
.pagination>li:first-child>a,
.pagination>li:first-child>span{
    border-radius: 0px;
}
.pagination li a:focus,
.pagination li a:hover,
.pagination li span:focus,
.pagination li span:hover,
.pagination li span.current {
    background-color: #db2d2e;
    border-color: #db2d2e;
    color: #fff;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #db2d2e;
    border-color: #db2d2e;
    color: #fff;
}

/* Blog Tag */
.tags-2 { margin-bottom: 15px; }
.single-post .tags-2 { margin-bottom: 0px; }
.tags-2 h5 { margin-top: 15px; }
.tags-2 ul { padding-left: 0px; }
.tags-2 ul li { list-style: none; display: inline-block; margin-right: 5px; }
.tags-2 ul li a { background: none; border: 1px solid #e3e3e3; color: #999999; display: block; font-size: 14px; margin-bottom: 8px; margin-right: 0px; padding: 2px 6px; text-transform: capitalize; }
.tags-2 ul li a:hover { background: #db2d2e; border-color: #db2d2e; color: #ffffff; }

/* Leave a reply */
#cancel-comment-reply-link { color: #db2d2e; }
.commentlist .comment .comment-respond { border-bottom: 1px solid #f5f5f5; padding-bottom: 20px; margin-bottom: 40px; margin-left: 12.5%; }
.section-field { float: left; margin-right: 3%; width: 31.33%; margin-bottom: 3%; }
.section-field.comment-form-url { margin-right: 0px; }
.section-field.textarea { width: 100%; margin-right: 0px; }
.section-field.textarea textarea { height: 120px; padding: 10px;}
.section-field.comment-form-cookies-consent { width: 100%; position: relative; }
.section-field.comment-form-cookies-consent input { width: auto; height: auto; position: absolute; left: 0; top: 1px; }
.section-field.comment-form-cookies-consent label { padding-left: 20px; }

.section-field input,
.post-password-form input[type="password"],
.section-field textarea {
    padding-right: 12px;
    padding-left: 12px;
    color: #323232;
    height: 45px;
    border: 1px solid transparent;
    background: #f6f6f6;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    width: 100%;
    padding: 10px;
}
.section-field input:focus,
.section-field textarea:focus,
.post-password-form input[type="password"]:focus {
    background: transparent;
    border-color: #db2d2e;
}
.comment-form .form-submit {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
.comment-form .form-submit .button {
    margin-bottom: 0;
}

/* HTML tags and formatting */
.post-template-default .entry-content h2 { margin: 15px 0px; }

/* Blockquote */
blockquote { font-size: 16px; font-style: italic; }
cite { font-size: 14px; margin-top: 15px; font-weight: 600; color: #db2d2e;}

/* Tables */
table th, table td { border: 1px solid #dedede; padding: 10px; }

/* Definition lists */
dl dt { margin-bottom: 5px; }
dl dd { margin-bottom: 20px; }

/* List ( Nested ) */
.entry-content ul, .comment-content ul { padding-left: 20px; margin-left: 10px; }
ul { padding: 0 0 0 15px; margin: 0px; list-style-type: disc; }
ul ul { margin-left: 15px; }
ul li { padding: 0px; margin: 0px; line-height: 24px; }

/* List ( Nested ) */
.entry-content ol, .comment-content ol { padding-left: 15px; }
ol { padding: 0 0 0 15px; margin: 0px; }
ol ol { margin-left: 15px; }
ol li { list-style-position: outside; padding: 0px; margin: 0px; line-height: 30px;}


/* Address */
.entry-content address, .comment-content address  { font-style: italic; }

/* Image alignment */
.entry-content img,
img.size-full,
.wp-caption img {margin-bottom: 10px; max-width: 100%;}

.alignright { float: right; margin: 5px 0px 5px 20px; }
.alignleft { margin: 5px 20px 5px 0; float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; text-align: center;}

/* Template Password Protected*/
.post-password-form p input {
    height: 44px;
    width: 10%;
    background: #db2d2e;
    color: #fff;
    border: none;
}
.post-password-form p input:hover {
    background: #323232;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

/* POSTED BY */
.author-info {
    padding: 20px;
    background: #ffffff;
    margin-bottom: 25px;
    border: 1px solid #f3f3f3;
    position: relative;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.author-info .author-avatar {
    display: table-cell;
    width: 90px;
    padding-right: 20px;
    margin-bottom: 0;
}
.author-info .author-avatar img {
    max-width: 100%;
    border: 1px solid #e5e5e5;
    padding: 3px;
}
.author-info > .author-description,
.author-info .author-details {
    display: table-cell;
    vertical-align: top;
}
.author-info .author-details h2,
.author-info .author-details h3,
.author-info .author-details h4 {
    margin-bottom: 10px;
}
.author-info .author-details .author-links {
    display: block;
    margin-bottom: 15px;
    float: none !important;
    position: absolute;
    right: 15px;
    top: 28px;
}
.author-info .author-details .author-links > a {
    padding: 0;
    margin-right: 3px;
    display: inline-block;
    width: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

/* Comments */
.comments-title {
    margin: 25px 0px;
}
ol.commentlist {
    padding: 0px;
    list-style: none;
    margin-bottom: 25px;
}
.commentlist > li {
    list-style: none;
}
.children > li {
    list-style: none;
}
.comments-1 .comments-photo {
    border: 1px solid #e8ebf1;
    float: left;
    height: auto;
    margin-right: 2%;
    padding: 3px;
    width: 8%;
}
.comments-1 .comment-meta {
    background: none;
}
.comments-1 .comments-photo img {
    width: 100%;
}
.comments-1 .comments-info {
    display: table;
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
    border: 1px solid #f3f3f3;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.comments-1 .comments-info p {
    word-break: break-all;
}
.comments-1 .comments-info .comment-meta h4 {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 14px;
}
.comments-1 .comments-info span {
    font-size: 13px;
    color: #999999;
}
.comments-1 .comments-info a {
    color: #db2d2e;
    margin-right: 5px;
}
.comments-1 .comments-info .comment-date a {
    color: #999999;
}
.comments-1 .comments-info .comment-date a:hover {
    color: #db2d2e;
}
.comments-1 .comments-info .comment-content a:hover {
    color: #999999;
}
.comment-nav li {
    list-style-type: none;
}
.comments-area .respond-form {
    margin-top: 40px;
}

/* Port navigation */
.port-arrow {
    width: 40px;
    text-align: center;
    background: #f6f6f6;
    display: inline-block;
    height: 74px;
}
.port-arrow i {
    text-align: center;
    font-size: 25px;
    line-height: 66px;
}
.port-navigation .port-photo {
    line-height: 74px;
    min-width: 124px;
    background: #eeeeee;
    text-align: center;
}
.port-navigation-right .port-photo {
    float: right;
}
.port-navigation-right .port-photo img {
    margin-top: -4px;
}

/* Gallery */
.gallery-size-thumbnail .gallery-item { margin-right: 2%; width: 18.4%; margin-bottom: 2%; display: inline-block; vertical-align: top; padding: 15px; text-align: center; border: 1px solid #f9f9f9; -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.07); -ms-box-shadow: 0 2px 8px rgba(0,0,0,0.07); box-shadow: 0 2px 8px rgba(0,0,0,0.07);}
.gallery-item .gallery-caption { font-size: 13px; }
.gallery-size-thumbnail .gallery-item img { margin-bottom: 10px; }
.gallery-columns-1 .gallery-item { width: 100%; margin-right: 0px; }
.gallery-columns-2 .gallery-item { width: 48%; }
.gallery-columns-3 .gallery-item { width: 31.3%; }
.gallery-columns-4 .gallery-item { width: 23%; }
.gallery-columns-5 .gallery-item { width: 18%; }
.gallery-columns-6 .gallery-item { width: 14.6%; }
.gallery-columns-7 .gallery-item { width: 12.2%; }
.gallery-columns-8 .gallery-item { width: 10.5%; }
.gallery-columns-9 .gallery-item { width: 9.1%; }
.gallery.gallery-size-thumbnail { display: inline-block; width: 100%; }

/* Gallery Post - Details */
.blog-entry-grid ul.grid-post{list-style: none; padding: 0; margin: 0; display: inline-block;}
.blog-entry-grid ul.grid-post li{width: 33.3333%; float: left; padding: 3px;}
.blog-entry-grid ul.grid-post li img{width:100%}


/* Related Products */
.related-work .owl-carousel .owl-item img{ width: 100%;}

/* Search results */
.search-form input.placeholder {
    padding-right: 55px;
    padding-left: 12px;
    color: #323232;
    height: 45px;
    border: 1px solid transparent;
    background: #f6f6f6;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    width: 100%;
    margin-bottom: 15px;
}
.search-form input.placeholder:focus {
    background: transparent;
    border-color: #db2d2e;
}

/* Replay */
.comments-info .reply .comment-reply-link {
    background: #db2d2e;
    padding: 5px 15px;
    color: #ffffff;
    line-height: 18px;
    display: inline-block;
    position: relative;
    z-index: 0;
}
.comments-info .reply .comment-reply-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background: #323232;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    z-index: -1;
}
.comments-info .reply .comment-reply-link:hover { color: #ffffff; }
.comments-info .reply .comment-reply-link:hover:before { height: 100%; }


/*************************
        Sidebar
*************************/
.listing-sidebar .nice-select,
.sidebar-widget .nice-select,
.footer .widget .nice-select { width: 100%; margin-top: 10px; float: none; }
.footer_opacity-custom .news-letter .form-control { background: rgba(102, 102, 102, 0.10); }
.footer_opacity-custom .news-letter .form-control:focus { color: #323232 !important; }
.wp-block-latest-comments .wp-block-latest-comments__comment-meta {
    line-height: 24px;
}

/* Title */
.widget .widgettitle,
.widget .wp-block-group__inner-container > h2 {position: relative; padding-bottom: 10px; margin-bottom: 20px; font-weight: 600;}
.widget .widgettitle:before,
.widget .wp-block-group__inner-container > h2:before { position: absolute; content: ""; width: 20px; height: 2px; background: #db2d2e; left: 0; bottom: 0px; }
.widget .textwidget img { max-width: 100%; height: auto; }

.widget .wp-block-group__inner-container > h2 {font-size: 16px; font-weight: 600; line-height: 24px;}

/* Search */
.widget_search #searchform { position: relative; }
.widget_search .screen-reader-text,
.widget_search .wp-block-search__label { display: none; }
.widget_search input {
    padding-right: 55px;
    padding-left: 12px;
    color: #323232;
    height: 45px;
    border: 1px solid transparent;
    background: #f6f6f6;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    width: 100%;
}
.widget_search input:focus,
.widget_search .wp-block-search__inside-wrapper .wp-block-search__input:focus {
    background: transparent;
    border-color: #db2d2e;
}
.widget_search .wp-block-search__inside-wrapper .wp-block-search__input {
    border-color: transparent;
    padding-right: 12px;
}
.widget_search #searchsubmit {
    background: none;
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 0 12px;
    font-size: 14px;
    color: #626262;
    cursor: pointer;
    width: auto;
    line-height: 42px;
    height: 43px;
}
.widget_search #searchsubmit:focus { border: 1px solid rgba(0, 0, 0, 0); }
.sidebar-widget #searchsubmit { background: #db2d2e; color: #ffffff; }
.sidebar-widget #searchsubmit:hover { background: #323232; }
.widget_search .wp-block-search__inside-wrapper .wp-block-search__button {
    background: #db2d2e;
    color: #ffffff;
    border: none;
    padding: 5px 15px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.widget_search .wp-block-search__inside-wrapper .wp-block-search__button:hover,
.widget_search .wp-block-search__inside-wrapper .wp-block-search__button:focus {
    background: #323232;
}

/* Search Result */
.widget_search .cd-loader{top: 12px; right: 53px;}
.widget_search .cardealer-auto-compalte-default{overflow-y: auto; overflow-x: hidden; max-height: 400px; box-shadow: 0 7px 15px 0 rgba(0,0,0,0.1); position: relative; top: 10px;}
.widget_search .cardealer-auto-compalte-default ul li{background: #ffffff; padding: 10px;}
.widget_search .cardealer-auto-compalte-default ul li a{ display: block; font-size: 14px; color: #999; font-weight: normal;}
.widget_search .cardealer-auto-compalte-default ul li .search-result-image {display: table-cell; width: 40px;}
.widget_search .cardealer-auto-compalte-default ul li .search-result-name{display:table-cell; vertical-align: middle; padding-left:5px;}
.widget_search .cardealer-auto-compalte-default ul li .search-result-image + .search-result-name{padding-left:15px;}


/* Filter Sectect box */
.widget.cars_filters { background: #f5f5f5; padding: 15px; }
.widget .sort-filters .side-filter + .side-filter { margin-top: 10px; }

/* Recent posts*/
.widget_recent_entries .recent-post { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
.widget_recent_entries .recent-post:last-child { margin-bottom: 0px; padding-bottom: 0px; border-bottom: none; }
.widget_recent_entries .recent-post-image { display: table-cell; padding-right: 15px; width: 70px; height: 54px; }
.widget_recent_entries .recent-post-image img { vertical-align: middle; height: inherit; }
.widget_recent_entries .recent-post-info { display: table-cell; vertical-align: top; }
.widget_recent_entries .recent-post-info a { color: #909090; font-size: 14px; vertical-align: top; display: block; }
.widget_recent_entries .recent-post-info span { color: #909090; font-size: 12px; display: table; padding-top: 5px; }
.widget_recent_entries .recent-post-info i { color: #909090; font-size: 14px; padding-right: 5px; }

/* Calendar */
.widget_calendar table td,
.widget_calendar table th { padding: 6px 0px; border: 1px solid #e3e3e3; }
.widget_calendar #wp-calendar { width: 100%;}
.widget_calendar #wp-calendar th,
.widget_calendar #wp-calendar td { text-align: center; }
.widget_calendar #wp-calendar tfoot td { text-align: center; }
.widget_calendar #wp-calendar th { background: #eceff7; }
.widget_calendar #wp-calendar td#today { background: #db2d2e; color: #ffffff; }
.widget_calendar #wp-calendar td#today a { color: #ffffff; }

/* Archive */
.widget_archive ul li { text-align: right; }
.widget_archive ul li i { line-height: 24px; }
.widget_archive ul li:hover i { color: #db2d2e; }
.widget.widget_archive ul li:hover > a { color: #db2d2e; }
.widget_archive ul li i,
.widget_archive ul li a { float: left; }

/* Breadcrumb */
.widget_breadcrumb_navxt a { color: #999999; }
.widget_breadcrumb_navxt a:hover { color: #db2d2e; }

/* Category without dropdown */
.widget_categories ul li { text-align: right; }
.widget_categories ul li a { float: left; }

/* Vehicle Categories */
.widget.widget-vehicle-categories li,
.widget.widget-vehicle-categories li ul {
    padding: 0;
}
.widget.widget-vehicle-categories .cat-item a {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.widget.widget-vehicle-categories .vehicle-categories-list > li.cat-item:first-child > a {
    margin-top: 0;
}
.widget.widget-vehicle-categories .cat-item .count {
    margin-left: auto;
    padding-right: 5px;
    padding-left: 5px;
    min-width: 30px;
    height: 20px;
    border: 1px solid rgba(119,119,119,0.2);
    border-radius: 35px;
    color: #777;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.widget.widget-vehicle-categories .cat-item a:hover > .count {
    border-color: #db2d2e;
    background: #db2d2e;
    color: #ffffff;
}

.widget.widget-vehicle-categories .vehicle-categories-list.vehicle-categories-list-scrollable {
	overflow: hidden;
	overflow-y: auto;
	scrollbar-width: thin;
    padding-right: 10px;
}
.widget.widget-vehicle-categories {
    --scrollbar-track-bg: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.12);
}
.widget.widget-vehicle-categories ::-webkit-scrollbar {
    width: 6px;
}
.widget.widget-vehicle-categories ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bg);
}
.widget.widget-vehicle-categories ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg);
}


/* Assistive text */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute !important;
    height: 1px;
    width: 1px;
    top: 0;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    line-height: normal;
    padding: 15px 23px 14px;
    position: absolute;
    left: 5px;
    top: 5px;
    text-decoration: none;
    width: auto;
    z-index: 100000; /* Above WP toolbar */
}

/* Category */
.widget_categories .widget-menu ul li { text-align: left; }
.widget_categories .widget-menu ul li a { float: none; text-transform: capitalize; }
.widget.widget_categories ul li:hover > a { color: #db2d2e; }
.widget .widget-menu ul li i { float: left; line-height: 24px; display: none; }
.widget .widget-menu ul ul.cat-sub-menu { margin-left: 0px; margin-top: 5px; }
.widget .widget-menu ul ul.cat-sub-menu { padding-left: 18px; }

/* Inquiry */
.inquiry .radio input { width: auto; }
.inquiry .form-group label { line-height: 20px; margin: 0 0 5px; }
#recaptcha6 iframe { -webkit-transform: scale(0.86); -moz-transform: scale(0.86); transform: scale(0.86); transform-origin: top left;}

/* Tag */
.widget_tag_cloud ul li {
    display: inline-block;
    width: auto;
    border: none;
    padding: 0px;
}
.widget_tag_cloud ul li a {
    margin-right: 5px;
}
.widget_tag_cloud .tagcloud a {
    display: inline-block;
    color: #999999;
    border: 1px solid #e3e3e3;
    background: transparent;
    padding: 2px 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 13px !important;
    text-transform: capitalize;
}
.widget_tag_cloud .tagcloud a:hover {
    background: #db2d2e;
    color: #ffffff !important;
    border-color: transparent;
}

.entry-meta .entry-meta-tags a, .entry-meta .entry-meta-categories a {padding-right: 0;}
.entry-meta .entry-meta-tags i, .entry-meta .entry-meta-categories i { padding-right: 5px; }
.entry-meta .entry-meta-categories { margin-right: 10px; }
.entry-meta .entry-meta-tags { margin-right: 10px; }

/* Comments */
.widget.widget_recent_comments ul li a { margin-bottom: 5px; color: #db2d2e; }
.widget.widget_recent_comments ul li a:hover { color: #323232; }

/* Financing calculator */
.financing-calculator .button {margin-right: 5px; margin-bottom: 5px;}

/* News latter */
.sidebar-widget.mailchimp_newsletter .news-letter{position: relative;}
.sidebar-widget.mailchimp_newsletter .news-letter [class*='spinimg-form_newsletter_']{position: absolute; top: 14px; right: 10px;}
.sidebar-widget.mailchimp_newsletter .news-letter .cd-loader{position: relative; top: 0; right: 0;}
.sidebar-widget.mailchimp_newsletter .news-letter .newsletter-msg{margin-top: 10px; color: red; font-weight: 600;}

/* Page */
.widget_pages ul ul.children { margin-left: 0px; margin-top: 14px; }
.widget_pages ul ul.children li a { padding-left: 15px; }
.widget.widget_pages ul li:hover > a { color: #db2d2e; }

/* video theme options  */
.vc_video-bg,
.intro_header_video-bg {
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}
#financial_form .modal-dialog,
#financial_form_mdl .modal-dialog {
    width: 90%;
    padding: 20px 20px 20px 20px;
}
#financial_form .modal-dialog .container,
#financial_form_mdl .modal-dialog .container {
    padding-left: 0px;
    padding-right: 20px;
}

/* RSS */
.widget.widget_rss ul li { margin-bottom: 20px; padding-bottom: 0; }
.widget.widget_rss ul li a { font-weight: 600; margin-bottom: 5px; color: #db2d2e; }
.widget.widget_rss ul li .rss-date { font-weight: 600; margin-bottom: 8px; display: block; color: #323232;}

/* Vehicle Makes Widget */
.widget.widget-vehicle-make-logos .row {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
    display: flex;
    flex-wrap: wrap;
}
.widget.widget-vehicle-make-logos .cardealer-make-logo {
    padding: 0 5px;
    padding-top: 10px;
    width: 50%;
    float: none;
}
.widget.widget-vehicle-make-logos .cardealer-make-logo:nth-child(-n+2) {
  padding-top: 0px;
}
.widget.widget-vehicle-make-logos .search-logo-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 20px 0;
    box-shadow: none;
}
.widget.widget-vehicle-make-logos a:hover .search-logo-box {
    opacity: .5;
}
.widget.widget-vehicle-make-logos .search-logo-box strong {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 8px;
    font-size: 13px;
    line-height: 18px;
}

.cardealer-make-logos.cardealer-make-logos-scrollable {
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 10px;
}
.widget.widget-vehicle-make-logos {
    --scrollbar-track-bg: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.12);
}
.widget.widget-vehicle-make-logos ::-webkit-scrollbar {
    width: 6px;
}
.widget.widget-vehicle-make-logos ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bg);
}
.widget.widget-vehicle-make-logos ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg);
}