/*************************************
        Footer
**************************************/
.widget { margin-bottom: 40px; }
.widget ul { padding-left: 0px; }
.widget ul li {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    clear: both;
    padding: 5px 0px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
.widget ul ul li { padding: 5px 0; }
.widget ul li:last-child { border-bottom: none; padding-bottom: 0px; }
.widget ul li i { padding-right: 10px; }
.widget ul li a { display: inline-block; color: #999999; }
.widget ul li > a:hover { color: #db2d2e; }

/* Footer Row -------*/
#footer > .container > .row { padding: 60px 0; }
#footer > .container > .row ~ .row { padding: 0; }
footer .social-full { border-top: 1px solid rgba(0, 0, 0, 0.06); border-bottom: 1px solid rgba(0, 0, 0, 0.06);}

/* Footer Setting -------*/
.footer .news-letter .form-control { }
.footer_opacity-custom { position: relative; z-index: 1; }
.footer_opacity-custom:before { content: ""; position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: -1; }
.footer_opacity-black { position: relative; z-index: 1; }
.footer_opacity-black:before { content: ""; position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: -1; background-color: rgba(0, 0, 0, 0.7); }
.footer_opacity-white { position: relative; z-index: 1; }
.footer_opacity-white:before { content: ""; position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: -1; background-color: rgba(255, 255, 255, 0.7); }
#footer .widget_recent_entries { margin-bottom: 0; }
#footer .copyright-block { padding: 30px 0 20px; border-top: 1px solid rgba(255, 255, 255, 0.08); }
.footer-navigation .widget { margin-bottom: 0; }
.footer-navigation .widget ul li { display: inline-block; border: none; padding: 0; }
.footer-navigation .widget ul li a { padding: 0 3px; }

/* Footer Box 2 --------*/
footer .footer-box { background: rgba(255, 255, 255, 0.08); clear: both; padding: 30px; margin-bottom: 25px; }
footer .footer-box .box-content { display: table-cell; vertical-align: top; }
footer .footer-box .box-link { display: table-cell; padding-left: 20px; vertical-align: middle; }
footer .footer-box .button { margin-bottom: 0; white-space: nowrap; color: #ffffff; }
.footer h6 { position: relative; padding-bottom: 10px; margin-bottom: 26px; font-weight: normal !important; }
.footer h6:before { position: absolute; content: ""; width: 20px; height: 2px; background: #db2d2e; left: 0; bottom: 0px; }

/* Address ----------*/
.about-content img { height: 40px; margin-bottom: 30px; }
.address { margin-top: 20px; }
.address ul li { display: flex; align-items: baseline;  color: #909090; padding-bottom: 15px; }
.address ul li:last-child { padding-bottom: 0px; }
.address ul li i { display: table-cell; width: 20px; text-align: center; padding-right: 10px; }
.address ul li span { display: table-cell; }

/* Usefull Link ---------*/
.usefull-link ul li { display: block; border-bottom: 1px solid rgba(255, 255, 255, 0.11); padding: 10px 0px; }
.usefull-link ul li:last-child { border-bottom: 0px; }
.usefull-link ul li a i { padding-right: 10px; }
.usefull-link ul li a { color: #909090; }
.usefull-link ul li a:hover { color: #db2d2e; }

/* News Letter ----------*/
.footer .news-letter{position: relative;}
.footer .news-letter [class*='spinimg-form_newsletter_']{position: absolute; top: 12px; right: 12px;}
.footer .news-letter .cd-loader{position: absolute; top: 0; right: 0;}

.footer .news-letter a.button.red { padding: 7px 20px; margin-top: 0px; color: #ffffff;}
.footer .news-letter .form-control { border-color: rgba(255, 255, 255, 0.11); }
.footer .news-letter .form-control:focus { border-color: #db2d2e; }
.footer .news-letter .newsletter-msg{margin-top: 10px; color: red; font-weight: 600;}
.footer hr { margin-top: 60px; border-color: rgba(255, 255, 255, 0.11); }
.footer .copyright { margin: 40px 0 30px; }
footer .copyright a { color: #db2d2e; }
footer .copyright ul li { padding: 0px; }
footer .copyright ul li a { color: #909090; text-transform: capitalize; padding: 0px 3px; }
footer .copyright ul li a:hover { color: #db2d2e; }
.footer .news-letter .form-control:focus { color: #ffffff; }
.footer { position: relative; z-index: 998; }

.footer.footer_opacity:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; }
.footer.footer_opacity-black:before { background: rgba(0, 0, 0, 0.8); }
.footer.footer_opacity-white:before { background: rgba(255, 255, 255, 0.8); }
.footer .widget.mailchimp_newsletter { margin-bottom: 0; }

/* Social -----------*/
.social-full { display: table; width: 100%; }
.social-full a { display: table-cell; line-height: 60px; padding: 0px 15px; color: #fff; font-size: 12px; font-weight: 600; text-transform: uppercase; position: relative; }
.social-full a i { font-size: 30px; vertical-align: middle; color: rgba(255, 255, 255, 0.4); line-height: 60px; position: absolute; right: 10px; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
.social-full a:hover { color: #ffffff; background: #db2d2e; }
.social-full a:hover i { color: #ffffff; }
.social-full a.facebook:hover { background: #3a5897; }
.social-full a.dribbble:hover { background: #dd4b80; }
.social-full a.twitter:hover { background: #41d1da; }
.social-full a.google_plus:hover { background: #e13138; }
.social-full a.vimeo:hover { background: #35c6ea; }
.social-full a.pinterest:hover { background: #c3222b; }
.social-full a.behance:hover { background: #005cff; }
.social-full a.linkedin:hover { background: #0073b1; }

/* CopyRight Section --------*/
.copyright-block { position: relative; z-index: 1; }
.copyright-block:before { content: ""; position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: -1; }
.vc_row-no-padding .wpb_gmaps_widget .wpb_wrapper { background-color: inherit; padding: 0; }

/*********************************************
           Footer Layout 2
*********************************************/
.footer .layout_2.social-full { margin-left: -15px; margin-right: -15px; padding: 20px 0; }
.footer .layout_2.social-full a { padding: 0 }
.footer .layout_2.social-full a:hover { background: none; }
.footer .layout_2 .social ul li { display: inline-block; }
.footer .layout_2 .social ul li a { display: inline-block; font-size: 0; background: none !important; padding: 0px 20px; }
.footer .layout_2 .social ul li a i { font-size: 16px; color: #ffffff; }
.footer .layout_2 .social ul li a:hover i { color: #db2d2e; }
.footer .widget .widget-menu li a:hover { color: #db2d2e; }
.footer .widget_categories .widget-menu li a span { -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
.footer .widget_categories .widget-menu li a:hover span { color: #db2d2e; }